header.header.header-sticky.mb-4
  .container-fluid
    button.header-toggler.px-md-0.me-md-3(type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()")
      svg.icon.icon-lg
        use(xlink:href="svg/free.svg#cil-menu")
        |
    a.header-brand.d-md-none(href="#")
      img(src='images/logo.png' alt="wonsama logo" width="118" height="46")
        |
    ul.header-nav.d-none.d-md-flex
      li.nav-item
        a.nav-link(href="#") #{t("menu.dashboard_t")}
      li.nav-item
        a.nav-link(href="#") #{t("menu.steemit.create_account")}
      li.nav-item
        a.nav-link(href="#") #{t("menu.game.steem_runners")}
    ul.header-nav.ms-auto
      //- li.nav-item
      //-   a.nav-link(href="#")
      //-     svg.icon.icon-lg
      //-       use(xlink:href="svg/free.svg#cil-bell")
      //-       |
    ul.header-nav.ms-3
      li.nav-item.dropdown
        a.nav-link.py-0(data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
          .avatar.avatar-md
            if logined
              img.avatar-img(src="https://steemitimages.com/u/wonsama/avatar" alt="profile image")
            else
              +svg("svg/my.svg","user")
        .dropdown-menu.dropdown-menu-end.pt-0
          //- .dropdown-header.bg-light.py-2
          //-   .fw-semibold #{t("message_t")}
          //- a.dropdown-item(href="#")
          //-   svg.icon.me-2
          //-     use(xlink:href="svg/free.svg#cil-envelope-open")
          //-     |
          //-   |  #{t("message.received")}
          //-   span.badge.badge-sm.bg-success.ms-2 3
          //- a.dropdown-item(href="#")
          //-   svg.icon.me-2
          //-     use(xlink:href="svg/free.svg#cil-envelope-open")
          //-     |
          //-   |  #{t("message.send")}
          //- .dropdown-header.bg-light.py-2
          //-   .fw-semibold #{t("settings_t")}
          //- a.dropdown-item(href="#")
          //-   svg.icon.me-2
          //-     use(xlink:href="svg/free.svg#cil-user")
          //-     |
          //-   |  #{t("settings.profile")}
          //- .dropdown-divider
          .dropdown-header.bg-light.py-2
            .fw-semibold #{t("user.account_t")}          
          a.dropdown-item(href="#")
            svg.icon.me-2
              use(xlink:href="svg/free.svg#cil-account-logout")
              |
            if logined
              |  #{t("user.account.logout")}
            else
              |  #{t("user.account.login")}
  .header-divider
  .container-fluid
    block breadcrumb

