.sidebar.sidebar-dark.sidebar-fixed#sidebar
  .sidebar-brand.d-none.d-md-flex
    img.sidebar-brand-full(src='images/logo_w.png' alt="wonsama logo" width="118" height="46")
      |
    img.sidebar-brand-narrow.avatar-img(src="https://steemitimages.com/u/wonsama/avatar" alt="wonsama logo mini")
  ul.sidebar-nav(data-coreui="navigation" data-simplebar)
    li.nav-item
      a.nav-link(href='index.html')
        svg.nav-icon
          use(xlink:href="svg/free.svg#cil-speedometer")
        |  #{t("menu.dashboard_t")}
    li.nav-title
      | #{t("menu.steemit_t")}
    li.nav-item
      a.nav-link(href='colors.html')
        svg.nav-icon
          use(xlink:href="svg/free.svg#cil-drop")
        |  #{t("menu.steemit.create_account")}
    li.nav-title
      | #{t("menu.game_t")}
    li.nav-item
      a.nav-link(href='charts.html')
        svg.nav-icon
          use(xlink:href="svg/free.svg#cil-chart-pie")
        |  #{t("menu.game.steem_runners")}
        span.badge.badge-sm.bg-info.ms-auto NEW
    li.nav-title
      | #{t("menu.spt_t")}
    li.nav-group
      a.nav-link(href='charts.html')
        svg.nav-icon
          use(xlink:href="svg/free.svg#cil-chart-pie")
        |  #{t("menu.spt.coin_price")}
      a.nav-link(href='charts.html')
        svg.nav-icon
          use(xlink:href="svg/free.svg#cil-chart-pie")
        |  #{t("menu.spt.token_list")}
      a.nav-link.nav-group-toggle(href='#')
        svg.nav-icon
          use(xlink:href="svg/free.svg#cil-star")
        |  #{t("menu.spt.cards_t")}
      ul.nav-group-items
        li.nav-item
          a.nav-link(href='login.html' target="_top")
            svg.nav-icon
              use(xlink:href="svg/free.svg#cil-account-logout")
            |  #{t("menu.spt.cards.delegated")}
        li.nav-item
          a.nav-link(href='register.html' target="_top")
            svg.nav-icon
              use(xlink:href="svg/free.svg#cil-account-logout")
            |  #{t("menu.spt.cards.rented")}
        li.nav-item
          a.nav-link(href='register.html' target="_top")
            svg.nav-icon
              use(xlink:href="svg/free.svg#cil-account-logout")
            |  #{t("menu.spt.cards.quest_rewards")}
    li.nav-item.mt-auto
      a.nav-link(href='docs.html')
        svg.nav-icon
          use(xlink:href="svg/free.svg#cil-description")
        |  #{t("menu.about_t")}
  button.sidebar-toggler(type="button" data-coreui-toggle="unfoldable")
